.orange-play-icon {
    color: $buttons-clr-1;
}

.clashIcon {
    width: 50px;
    i{
        font-size: 25px;
    }
    @include media-min-lg {
        width: 100px;
        i{
            font-size: 35px;
        }
    }
   
}