/*------ font family --------
==================================================*/
$font-family: 'Poppins', sans-serif;

/*------ common clr --------
==================================================*/
$nav-clr : #9c9ca1;
$header-color: #1D1C2C;
$banner-overlay : #1D1C2C;
$background-color-1: #1D1C2C;
$buttons-clr-1 : #ec814c;
$title-one : #b09e5d;
$white : #fff;
$badge-clr : #6cd06c;