@import './abstracts/variables';
@import './mixins/breakpoints';
@import './mixins/functions';
@import './abstracts/common';
@import './abstracts/buttons';
@import './abstracts/icons';
@import './includes/header';
@import './includes/footer';

// =========== Start : Banner ============
// ========================================

.banner-section {
    min-height: calc(100vh - 60px);
    overflow: hidden;
   .overlay {
      
        #background-video {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(85deg, $banner-overlay 30%, rgba(0,0,0,0.5) 80%);        ;
        }
   }

    .banner-content {
        position: relative;
    }
}

// =========== End : Banner ============
// ========================================

// =========== Start : How to play Section ============
// ========================================

.how-toplay-section {
    .card { 
        .card-content {
            border-radius: 15px 15px 0px 0px;
            min-height: 60%;
            span {
                color: $title-one;
                font-weight: 600;
            }
            p {
                color: $nav-clr;
            }
        }
        .card-body {
            border-radius: 0px 0px 15px 15px;
            i {
                font-size: 25px;
            }
        }
    }
}

// =========== End : How to play Section ============
// ========================================

// =========== Start : Players Details Section ============
// ========================================

.player-details-section {
    background: url("../../public/images/group.png");
    background-size: cover;
    background-repeat: no-repeat;
    .overlay {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 0;
    }
    .left-side {
        .profile-card {
            .profile-img {
                width: 100%;
                @include media-min-lg {
                    position: absolute;
                    top: -120px;
                    width: 150px;
                }
            }
            .profile-number {
                .text-pink {
                    color: #c3a6b2;
                }
                .text-litepink {
                    color: #d8c4ce;
                }
            }
        }
    }
    .right-side {
        span {
            color: $title-one;
            font-weight: 600;
        }
        h2 {
            font-weight: 600;
            @include media-min-lg {
                font-size: 45px;
            }
        }
    }
    .arrow {
        margin-bottom: 20px;
        .left-arrow, .right-arrow {
            border: 2px solid $nav-clr;
            padding: 1px 20px;
            color: $nav-clr;
            border-radius: 20px;
        }
    }
}

// =========== End : Players Details Section ============
// ========================================

// =========== Start : Point Table Section ============
// ========================================

.point-table-section {

    .active {
        background-color: #464376;
    }

    .active-1 {
        background-color: #1f1e30;
    }
    
    table {
        td:first-child,
        th:first-child {
          border-radius: 10px 0 0 10px;
          padding-left: 10px;
        }
        
        td:last-child,
        th:last-child {
          border-radius: 0 10px 10px 0;
          padding-left: 10px;
        }

        .line {
            width: 3px;
            height: auto;
            margin-right: 10px; 
        }

        tr {
            border-bottom: 8px solid #00000094;
            th {
                color: $title-one;
                img {
                    width: 25px;
                }
            }
        }

        tbody {
            tr {
                color: $nav-clr !important;
                .trophy {
                    width: 20px;
                    height: 20px;
                }
                .pic {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .live-tournament-list {
        .active {
            background-image: linear-gradient(to right bottom, #310e4f, #2d1b5b, #272666, #1f3170, #123b79);
        }

        .border-dashed {
            border: 2px dashed white;
        }

        .card {
            border-radius: 15px;
            .active-time {
                color: #82da7d;
            }

            .live-list {
                width: calc(100% - 50px);
                @include media-min-lg {
                    width: calc(100% - 100px);
                }
                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    background-color: red;
                }
                .live {
                    border: 2px solid red;
                    border-radius: 50px;
                    padding: 2px 10px;
                }
            }
        }
    }
}

// =========== End : Point Table Section ============
// ========================================


// =========== Start : Players Details Section ============
// ========================================

.players-details-section {
    .filter-item {
        .items {

            .active {
                background-color: $buttons-clr-1;
                color: $white !important;
            }

            .item {
                padding: 10px 20px;
                border: 2px solid $buttons-clr-1;
                border-radius: 50px;
                margin: 0 15px;
                color: $buttons-clr-1;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: $buttons-clr-1;
                    color: $white !important;
                }
                @include media-max-md {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }

        .arrow {

            .active {
                background-color: $buttons-clr-1;
                i {
                    color: $white !important;
                }
            }

            .left-arrow, .right-arrow {
                border: 2px solid $buttons-clr-1;
                padding: 4px 20px;
                color: $buttons-clr-1;
                border-radius: 20px;
            }
        }
    }

    .players-cards {
        .card {

            .fav {
                cursor: pointer;
                i{
                    font-size: 20px;
                }
            }

            img {
                border-radius: 15px 15px 0px 0px;
            }
            .card-profile-img {
                .level {
                    top: 15px;
                    left: 15px;
                    right: 15px;
                    width: 90%;
                }
                .end-time {
                    bottom: 15px;
                    left: 15px;
                    padding: 2px 17px;
                    background-color: #7e0000;
                    border: 2px solid #b83536;
                    border-radius: 5px;
                    p{
                        font-size: 8px;
                    }
                }
            }
            .card-body {
                background-color: #212031;
                border-radius: 0px 0px 15px 15px;
            }
        }
    }
}

// =========== End : Players Details Section ============
// ========================================

// =========== Start : NFT Pack Section ============
// ========================================

.nft-pack-section {
    background: linear-gradient(130deg, #3a649d, #335092, #333b85, #372374, #3b0060);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;

    .circle-img {
        top: -30px;
        left: 0;
        width: 300px;
        z-index: 0;
    }

    .ring-img {
        top: -40px;
        right: 9%;
        z-index: 0;
        width: 50px;
    }

    .ring-img1 {
        top: 72%;
        right: 17%;
        transform: rotate(90deg);
        z-index: 0;
        width: 50px;
    }
    .left-background{

        .two-image {
            img {
                width: 50%;
                height: 100%;
            }
            .image1 {
                z-index: 3;
            }
            .image2 {
                margin-left: -75px;
                z-index: 1;
            }
        }
    }

    .content {
        h2 {
            font-weight: 700;
        }
    }
}


// =========== End : NFT Pack Section ============
// ========================================

// =========== Start : Referral Section ============
// ========================================

.refer-section {
    .text-lite {
        color: #ee9a5b;
    }
    .refer-content {
        h1 {
            font-weight: 800;
        }
    }

    .copy {
        border: 2px dashed $nav-clr;
        padding: 20px;
        border-radius: 5px;
        .code {
            span {
                color: #ee9a5b;
                font-weight: 700;   
            }
        }
        .copy-button{
            span {
                border: 2px solid #ee9a5b;
                padding: 1px 10px;
                color: #ee9a5b;
                font-size: 9px;
                border-radius: 3px;
                margin-left: 15px;
            }
        }
    }

    .referral-img {
        background: url("../../public/images/Ellipse\ 493@2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .arrow-img {
            background: url("../../public/images/Group8395@2x.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            .inner-img {
                img {
                    width: 100px;
                }
            }
        }
    }
}

// =========== End : Referral Section ============
// ========================================


// =========== Start : communication Section ============
// ========================================

.communication-section {
    background-color: #141321;

    .social-icon {
        .icon {
            border: 2px solid $buttons-clr-1;
            // padding: 10px;
            width: 45px;
            height: 45px;
            border-radius: 50px;
            transition: all 0.5s ease-in-out;
            &:hover {
                background-color: $buttons-clr-1;
                border: 2px solid white;
            }
        }
    }
}

// =========== End : communication Section ============
// ========================================