footer {
    background-color: #100f17;
    padding: 50px 0;
    .logo {
        width: 150px;
    }

    button {
        color: $buttons-clr-1 !important;
    }

    .footer-details {
        @include media-min-lg {
            border-right: 2px solid $nav-clr;
        }
    }

    .subcribtion-input {
        input {
            border-radius: 5px 0px 0px 5px;
        }
        .icon {
            width: 50px;
            height: 40px;
            background-color: $buttons-clr-1;
            border-radius: 0px 5px 5px 0px;
            i {
                color: #fff;
            }
        }
    }
}
