header {
    background-color: $header-color;
    -webkit-box-shadow: 2px 20px 8px -2px rgba(0,0,0,0.76);
    -moz-box-shadow: 2px 20px 8px -2px rgba(0,0,0,0.76);
    box-shadow: 2px 20px 8px -2px rgba(0,0,0,0.76);

    nav {
        .logo {
            width: 110px;
        }
        ul {
            li {
                a {
                    color: $nav-clr !important;
                }
            }
        }
    }
}